<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  
  body.login
    .contenedor-formulario
      h1= nombrePagina

      if locals.mensajes
        .alertas
          each categoria in Object.keys(locals.mensajes)
            each error in mensajes[categoria]
              .alerta(class=`${categoria}`)
                p= error

      p Agrega tu email para reestablecer tu contraseña

      form.caja-login(action="/reestablecer" method="POST")
        .campo
          label(for="email") Email:
          input(type="text" name="email" placeholder="Tu Email")
        .campo.enviar
          input(type="submit" value="Reestablecer Password").boton
        .campo.acciones
          a(href="/iniciar-sesion") Ya lo recordé, volver al Login
