<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include ./email.css
      
  body
    h2 Confirma tu cuenta UpTask
    p Ya estás casi inscrito, solo presiona el siguiente botón.
    a(href=`${confirmarURL}`) Confirmar cuenta
    p Si no puedes acceder a este enlace, visita #{confirmarURL}
    p Si no solicitaste este email, puedes ignorarlo.